/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f9;
}

/* Header styling */
.header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

.login-button {
    padding: 10px 20px;
    background-color: white;
    color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-button:hover {
    background-color: #2980b9;
    color: white;
}

/* Container styling */
.container {
    display: flex;
    margin-top: 20px;
}

/* Sidebar styling */
.sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #34495e;
}

/* Content styling */
.content {
    margin-left: 220px;
    padding: 20px;
    flex-grow: 1;
}

h2 {
    color: #333;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.styled-image {
    width: 50px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
    opacity: 1.5; /* Adjust the opacity as needed */
    vertical-align: middle; /* Align the image vertically with the text */
    margin-left: 10px; /* Adjust the space between the text and the image */
}
