*
{
	/* outline: 1px solid green; */
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--navbar-height);
	background-color: #18053d;
	color: var(--secondary-text-color);
	padding-inline: var(--side-margin);
}

nav
{
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

header a
{
	color: var(--secondary-text-color);
	text-decoration: none;
	font-size: 1.15rem;
}

.fst
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	text-transform: uppercase;
}

.fst img
{
	width: 4rem;
	height: 4rem;
	border-radius: 35vw;
}

.login-btn
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.container
{
	display: grid;
	grid-template-columns: auto 1fr;
}

.sidenav
{
	background-color: var(--secondary-color);
	min-height: 100svh;
	min-height: 100vh;
	padding: 1rem;
}

.sidenav a
{
	display: block;
	text-decoration: none;
	color: var(--text-color);
	padding: 1em 2em;
	border-radius: 8px;
}

.sidenav a:hover,
.sidenav a:hover
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
}

.main-content
{
	padding: 1rem;
}

table
{
	width: 100%;
	margin-top: 2rem;
}

th,
td
{
	padding: 0.75rem;
	text-align: left;
	border-radius: 8px;
}

.highlight tbody tr
{
	transition: background-color 250ms ease-in-out;
}

.highlight tbody tr:hover
{
	background-color: var(--secondary-color);
}

.btn-small
{
	background-image: linear-gradient(to right, var(--accent-color), var(--accent-color-hover));
	color: var(--secondary-text-color);
	border: none;
	margin: auto;
	border-radius: 8px;
	padding: 0.75em 1.5em;
	background-size: 200%;
	background-position: 0% 0%;
	transition: background-position 250ms ease-in-out;
	cursor: pointer;
}

.btn-small:is(:hover, :focus, :focus-visible)
{
	background-position: 100% 100%;
}


#loginButton
{
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

dialog
{
	position: absolute;
	width: max(40%, 40rem);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0.125rem 2rem 0.5rem color-mix(in lab, var(--accent-color) 20%, transparent);
	padding: 2.5rem;
	background-color: rgba(255, 255, 255, 1);
	/* backdrop-filter: blur(40px); */
}

dialog::backdrop
{
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(4px);
}

#loginModalContent
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

#loginModalContent input
{
	width: 100%;
	padding: 0.75em;
	border: none;
	border-radius: 8px;
	outline-color: var(--accent-color);
	outline:none;
}

.input-box
{
	position: relative;
	width: 100%;
}

.input-box::before
{
	content: "";
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 1px;
	background-color: var(--accent-color);
}

.input-box>input:is(:focus, :focus-visible, :focus-within) .input-box::before
{
	opacity: 0;
}

#closeModal
{
	align-self: flex-end;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 2rem;
}