header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--navbar-height);
	background-color: #18053d;
	color: var(--secondary-text-color);

	padding-inline: var(--side-margin);
}

header a
{
	color: var(--secondary-text-color);
	text-decoration: none;
	margin: 0 10px;
	font-size: 18px;
}

.fst
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	text-transform: uppercase;
}

.fst img
{
	width: 4rem;
	height: 4rem;
	border-radius: 35vw;
}

.login-btn
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.container
{
	display: grid;
	grid-template-columns: auto 1fr;
}

.sidenav
{
	background-color: var(--secondary-color);
	min-height: 100svh;
	min-height: 100vh;
	padding: 1rem;
}

.sidenav a
{
	display: block;
	text-decoration: none;
	color: var(--text-color);
	padding: 1em 2em;
	border-radius: 8px;
}

.sidenav a:hover,
.sidenav a:hover
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
}

.main-content
{
	padding: 1rem;
}

table
{
	width: 100%;
	margin-top: 2rem;
}

th,
td
{
	padding: 0.75rem;
	text-align: left;
	border-radius: 8px;
}

.highlight tbody tr
{
	transition: background-color 250ms ease-in-out;
}

.highlight tbody tr:hover
{
	background-color: var(--secondary-color);
}

.btn-small
{
	background-image: linear-gradient(to right, var(--accent-color), var(--accent-color-hover));
	color: var(--secondary-text-color);
	border: none;
	border-radius: 8px;
	padding: 0.75em 1.5em;
	background-size: 200%;
	background-position: 0% 0%;
	transition: background-position 250ms ease-in-out;
	cursor: pointer;
}

.btn-small:is(:hover, :focus, :focus-visible)
{
	background-position: 100% 100%;
}


#loginButton
{
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

dialog
{
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

dialog::backdrop
{
	background-color: rgba(0, 0, 0, 0.5);
}

#loginModalContent
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginModalContent input
{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

#closeModal
{
	align-self: flex-end;
	cursor: pointer;
	margin-top: -10px;
	margin-right: -10px;
}