@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root
{
	--accent-color: #a365ed;
	--accent-color-hover: #68409a;
	--body-color: #f1f1f1;
	--secondary-color: #fff;
	--text-color: #202020;
	--secondary-text-color: #fff;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: var(--body-color);
	color: var(--text-color);
	font-family: "Nunito Sans", sans-serif;
}

.container
{
	display: grid;
	grid-template-columns: auto 1fr;
}

.sidenav
{
	background-color: var(--secondary-color);
	min-height: 100svh;
	min-height: 100vh;
	padding: 1rem;
}

.sidenav a
{
	display: block;
	text-decoration: none;
	color: var(--text-color);
	padding: 1em 2em;
	border-radius: 8px;
}

.sidenav a:hover,
.sidenav a:hover
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
}

.main-content
{
	padding: 1rem;
}

table
{
	width: 100%;
	margin-top: 2rem;
}

th,
td
{
	padding: 0.75rem;
	text-align: left;
	border-radius: 8px;
}

.highlight tbody tr
{
	transition: background-color 250ms ease-in-out;
}

.highlight tbody tr:hover
{
	background-color: var(--secondary-color);
}

.btn-small
{
	background-image: linear-gradient(to right, var(--accent-color), var(--accent-color-hover));
	color: var(--secondary-text-color);
	border: none;
	border-radius: 8px;
	padding: 0.75em 1.5em;
	background-size: 200%;
	background-position: 0% 0%;
	transition: background-position 250ms ease-in-out;
	cursor: pointer;
}

.btn-small:is(:hover, :focus, :focus-visible)
{
	background-position: 100% 100%;
}


#loginButton
{
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

dialog
{
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

dialog::backdrop
{
	background-color: rgba(0, 0, 0, 0.5);
}

#loginModalContent
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginModalContent input
{
	width: 100%;
	padding: 10px;
	margin: 10px 0;
}

#closeModal
{
	align-self: flex-end;
	cursor: pointer;
	margin-top: -10px;
	margin-right: -10px;
}