body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}
.fst{
    display: flex;
    flex-direction: row;
}
.fst img {
    width: 75px;
    height: 75px;
    border-radius: 35vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #18053d;
}
header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin: 0;
}

form h2 {
    text-align: center;
    color: #333;
}

form p {
    text-align: center;
    color: #000000;
}

form div {
    margin-bottom: 15px;
    position: relative;
}

form label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
}

form .center-text {
    text-align: center;
    margin-top: 15px;
}

form .center-text a {
    color: #007bff;
    text-decoration: none;
}

form .center-text a:hover {
    text-decoration: underline;
}

form #togglePassword,
form #togglePasswordReg,
form #toggleConfirmPassword {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 35px;
    padding: 5px;
}

footer {
    background-color: #18053d;
    padding: 15px;
    text-align: left;
    color: white;
    display: flex;
    gap: 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
