body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
.fst{
    display: flex;
    flex-direction: row;
}
.fst img {
    width: 75px;
    height: 75px;
    border-radius: 35vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #18053d;
}

header a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.login-btn {
    background-color: #6a0dad;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.main-content {
    display: flex;
    padding: 5px 10px 15px 20px;
    background: url('background-image.jpg') no-repeat center center/cover;
}

.main-content .faq-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex: 1 1 auto;
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 2% 20%;
}

.faq-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    font-size: 24px;
    margin: 0;
}

.faq-answer {
    display: none;
    padding-top: 10px;
}

.sign {
    font-size: 24px;
    margin-left: 10px;
}

footer {
    background-color: #18053d;
    padding: 15px;
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    gap: 10px;
}
footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
