:root
{
    --body-color: #222;
    --text-color: #000;
    --secondary-color: #0c0812;
}

*
{
    /* outline: 1px solid green; */
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: var(--navbar-height);
    /* background-image: linear-gradient(to bottom, hsl(260, 85%, 10%) 75%, var(--body-color)); */
    background-color: hsl(260, 85%, 10%);
    color: var(--secondary-text-color);
    padding-inline: var(--side-margin);
}

nav
{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

header a
{
    color: var(--secondary-text-color);
    text-decoration: none;
    font-size: 1.15rem;
}

header a:hover
{
    color: var(--accent-color);
}

.fst
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-transform: uppercase;
}

.fst img
{
    width: 4rem;
    height: 4rem;
    border-radius: 35vw;
}

.btn-small
{
    background-image: linear-gradient(to right, var(--accent-color), var(--accent-color-hover));
    color: var(--secondary-text-color);
    border: none;
    border-radius: 8px;
    padding: 0.75em 1.5em;
    background-size: 200%;
    background-position: 0% 0%;
    transition: background-position 250ms ease-in-out;
    cursor: pointer;
}

.btn-small:is(:hover, :focus, :focus-visible)
{
    background-position: 99% 99%;
}

.container
{
    display: grid;
    grid-template-columns: auto 1fr;
}

.review-section
{
    background-color: #fff;
}

.recent-reviews
{
    padding: 2rem;
}

.recent-reviews h2
{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.reviews-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    color: #fff;
}

.review-card
{
    background-color: #333;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.review-card img
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.review-card h3
{
    margin: 0;
    font-size: 18px;
}

.review-card p
{
    margin: 10px 0;
}

.review-card .stars
{
    color: gold;
}

