:root
{
	--body-color: #222;
	--text-color: #000;
	--secondary-color: #0c0812;
}

/* *
{
	outline: 1px solid green;
} */

header
{
	position: sticky;
	z-index: 1000;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: var(--navbar-height);
	/* background-image: linear-gradient(to bottom, hsl(260, 85%, 10%) 75%, var(--body-color)); */
	background-color: hsl(260, 85%, 10%);
	color: var(--secondary-text-color);
	padding-inline: var(--side-margin);
}

nav
{
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
}

header a
{
	color: var(--secondary-text-color);
	text-decoration: none;
	font-size: 1.15rem;
}

header a:hover
{
	color: var(--accent-color);
}

.fst
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	text-transform: uppercase;
}

.fst>h1
{
	font-family: "Cinzel";
}

.fst img
{
	width: 4rem;
	height: 4rem;
	border-radius: 35vw;
}

.login-btn
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.container
{
	display: grid;
	grid-template-columns: auto 1fr;
}

.sidenav
{
	background-color: var(--secondary-color);
	min-height: calc(100svh - var(--navbar-height));
	min-height: calc(100vh - var(--navbar-height));
	padding: 1rem;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 0.5em;
	/* justify-content: center; */
}

.sidenav-buttons
{
	border: none;
	cursor: pointer;
	color: var(--secondary-text-color);
	padding: 1em 2em;
	border-radius: 8px;
	background-color: #333;
	text-align: center;
}

.folder-active

/* .sidenav button:hover */
{
	background-color: var(--accent-color);
	color: var(--secondary-text-color);
}

.main-content
{
	--overlay-color: rgba(0, 0, 0, 0.5);
	background: linear-gradient(var(--overlay-color), var(--overlay-color)), url(images/bg.jpg);
	background-size: cover;
	padding: 1rem;
	color: var(--secondary-text-color);
}

.diff-bg
{
	background: linear-gradient(var(--overlay-color), var(--overlay-color)), url(images/home.webp);
	background-size: cover;
}

.heading-container
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-wrapper
{
	display: flex;
	gap: 0.25rem;
}

.search-side
{
	width: 30%;
}

.search-box
{
	border: none;
	border-radius: 8px;
	width: 100%;
	padding: 0.5rem;
}

.nav-wrapper
{
	min-height: 2rem;
}

.nav-wrapper p:not(:first-child):before
{
	content: " > ";
}

.search-box:is(:focus-visible)
{
	outline: 2px solid var(--accent-color);
	outline-offset: 0.125rem;
}

.description
{
	opacity: 0.8;
}

table
{
	width: 100%;
	margin-top: 2rem;
}

th,
td
{
	padding: 0.5rem;
	text-align: left;
	border-radius: 8px;
}

td
{
	background-color: hsla(0, 0%, 0%, 0.6);
	backdrop-filter: blur(36px);
}

.highlight tbody tr
{
	transition: background-color 250ms ease-in-out;
}

.highlight tbody tr:hover
{
	background-color: color-mix(in lab, var(--accent-color) 80%, transparent);
}

td:nth-child(1),
td:nth-child(3)
{
	width: 30%;
}

.btn-container
{
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.btn-small
{
	background-image: linear-gradient(to right, var(--accent-color), var(--accent-color-hover));
	color: var(--secondary-text-color);
	border: none;
	border-radius: 8px;
	padding: 0.75em 1.5em;
	background-size: 200%;
	background-position: 0% 0%;
	transition: background-position 250ms ease-in-out;
	cursor: pointer;
}

.btn-small:is(:hover, :focus, :focus-visible)
{
	background-position: 99% 99%;
}


#loginButton
{
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	cursor: pointer;
}

dialog
{
	position: absolute;
	width: max(40%, 40rem);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 5px;
	box-shadow: 0 0.125rem 2rem 0.5rem color-mix(in lab, var(--accent-color) 20%, transparent);
	padding: 2.5rem;
	background-color: rgba(30, 30, 30, 1);
	backdrop-filter: blur(40px);
	color: var(--secondary-text-color);
}

dialog::backdrop
{
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(4px);
}

dialog>form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

dialog>form input
{
	width: 100%;
	padding: 0.75em;
	background-color: #f1f1f1;
	color: var(--text-color);
	border: none;
	border-radius: 8px;
	outline-color: var(--secondary-text-color);
	outline: none;
}

.input-box
{
	position: relative;
	width: 100%;
}

.input-box::before
{
	/* content: ""; */
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 1px;
	background-color: var(--accent-color);
}

.input-box>input:is(:focus, :focus-visible, :focus-within) .input-box::before
{
	opacity: 0;
}

#closeModal
{
	align-self: flex-end;
	cursor: pointer;
	border: none;
	background: none;
	font-size: 2rem;
	color: inherit;
}

.action-container
{
	display: flex;
	gap: 1rem;
}

.delete-btn
{
	background-image: none;
	background-color: red;
}

.delete-btn:hover
{
	background-color: color-mix(in lab, red 80%, black);
}

.notice-board
{
	padding-block: 2rem;
	padding-inline: 2rem;
}

.notice-heading
{
	text-align: center;
	color: #fff;
	margin-block-end: 1rem;
}

.notice-container
{
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 2fr 3fr auto auto auto;
}

.notice-card
{
	grid-column: span 5;
	display: grid;
	grid-template-columns: subgrid;
	/* grid-template-areas:
        "title date"
        "description description"
        "owner link"; */
	align-items: center;
	gap: 1rem;
	background-color: white;
	color: var(--secondary-color);
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.notice-card:hover
{
	background-color: #ddd;
}

.heading-card,
.heading-card:hover
{
	background: transparent;
	border: none;
	padding-block: 0;
	color: #fff;
}

.notice-card h3
{
	/* grid-area: title; */
	margin: 0;
	font-size: 1.05rem;
}

.notice-card .created-at
{
	/* grid-area: date; */
	text-align: right;
	font-size: 0.9em;
	color: #666;
}

.notice-card .description
{
	/* grid-area: description; */
	margin: 0;
}

.notice-card .owner
{
	/* grid-area: owner; */
	margin: 0;
	font-size: 0.9em;
	color: #444;
}

.notice-card a
{
	/* grid-area: link; */
	justify-self: end;
	color: var(--accent-color);
	text-decoration: none;
}

.notice-card a:hover
{
	text-decoration: underline;
}

.nav-btn
{
	background-color: transparent;
	color: white;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.nav-btn:is(:hover, :focus-visible),
.nav-hover
{
	background-color: #ffffff28;
}

.heading-image-container
{
	width: 100%;
	aspect-ratio: 16/6;
	overflow: hidden;
	position: relative;
}

.heading-image-container::before
{
	content: "East Coast Railway";
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Cinzel";
	font-size: 3rem;
	font-weight: bold;
	white-space: nowrap;
	text-transform: uppercase;
	text-shadow: 0 0 16px black;
	letter-spacing: 0.15ch;
	z-index: 2;
}

.heading-image-container::after
{
	content: "";
	position: absolute;
	inset: 0;
	background-color: #00000055;
}

.pagination-container
{
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	margin-block-start: 1.5rem;
	text-align: center;
}

.pagination-button
{
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}

.pagination-button.active
{
	font-weight: bold;
	background-color: var(--accent-color);
	color: white;
}




/* css for about us */

.main-content .about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 20%;
}
.about-section{
  margin: 20px 30px;
}
.about-section h1 {
  font-size: 36px;
  margin: 20px;
	background-color:transparent;
	color:#DC143C;
	border-radius: 10%;
	padding:10px;
	width: 100%;

}

.about-section p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 10px;
	color: white;
}

#aboutus{
		
height: 80vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
	
box-shadow: 0 10 20px #18053d;
	
background-color: rgba(252, 251, 251, 0.5);
	}

#aboutus::before{
	filter: blur(2px);
	position: fixed;
} 


/* css for faq */

.main-content .faq-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 2% 20%;
}

.faq-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  font-size: 24px;
  margin: 0;
}

.faq-answer {
  display: none;
  padding-top: 10px;
}
.sign {
  font-size: 24px;
  margin-left: 10px;
}
#faq{
		
	height: 100vh;
		
	box-shadow: 0 10 20px #18053d;
	
	background-color: rgba(252, 251, 251, 0.5);

}
#faq::before{
	filter: blur(2px);
		position: fixed;
} 


/* css for terms and conditions */

.term {
	max-width: 800px;
	background-color: #333;
	padding: 20px;
	border-radius: 10px;
	margin: 20px 20%;
}

.term h2 {
	color:white;
	margin-top: 20px;
}

.term p {
	color: white;
	line-height: 1.6;
}

.term ul {
	color: white;
	margin-top: 10px;
	margin-bottom: 20px;
}

.term li {
	margin-bottom: 10px;
}

.term h1 {

	font-size: 36px;
	margin: 20px;
	background-color:transparent;
	color:#DC143C;
	border-radius: 10%;
	padding:10px;
	width: 100%;
	/* margin-left: 0; */

}

.term ul{
	font-size: 18px;
	line-height: 1.4;
	margin-bottom: 10px;
	color:white;
	
}
#tnc{
		
	height: 150vh;
		
	box-shadow: 0 10 20px #18053d;
	
	background-color: rgba(252, 251, 251, 0.5);

}

#tnc::before{
	filter: blur(2px);
		position: fixed;
} 


/* css for help center */

#hc{
		
	height: 200vh;
		
	box-shadow: 0 10 20px #18053d;
	
	background-color: rgba(252, 251, 251, 0.5);

}
#hc::before{
	filter: blur(2px);
		position: fixed;
} 

/* css for footer section */

footer {
	background-color:#18053d;
	padding: 15px;
	text-align: left;

}
footer a,p ,h4{
	color: gray;
	text-decoration: none;
	margin: 0 10px;
	font-size: 18px;
}

/* css for footer social media icons */
.fa {
  padding: 20px;
  font-size: 20px;
  width: 15px;
	height:15px;
  text-align:justify;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #18053d;
  color: white;
}

.fa-twitter {
  background: #18053d;
  color: white;
}
.fa.fa-twitter{
	font-family:sans-serif;
}
.fa.fa-twitter::before{
	content:"𝕏";
	font-size:1.2em;
}

.fa-google {
  background: #18053d;
  color: white;
}

